/* Van animation */
.map-wrap{ position:relative; overflow:hidden; }
.van{
  position:absolute;
  bottom:6%;
  left:-10%;
  width:90px;
  animation: drive 14s linear infinite;
}
@keyframes drive{
  0%{ transform: translateX(0) rotate(2deg);}
  50%{ transform: translateX(120%) rotate(-2deg);}
  100%{ transform: translateX(0) rotate(2deg);}
}
